* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgba(81, 69, 252, 0.685);
    font-size: 1em;
}

header .container{
    display: flex;
    justify-content: space-between; 
}

.menu{
    padding: 8px;    
}
.menu li{
    list-style: none;
}



















@media screen and (max-width:640px){

}

@media screen and (min-width:641px) and (max-width:1023){

}

@media screen and (min-width:640px){

}